# editorconfig.org 
# Config for every new file inside this project that will be formatted through vscode

root = true

[*] # all files
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true